extends layout

block content
  h1 #{contracts[0].NomeInstituicao} NIPC: #{contracts[0].NIPCInstituicao}
    table#contratosTable.table.table-bordered.table-striped.custom-table(style="margin-top: 20px; text-align: center; font-size: 16px;")
      thead
        tr
          th ID
          th Data Início
          th Data Fim
          th Nome Instituição
          th Areas Investigação
      tbody
        each contract in contracts
          tr
            td
              a(href="/contracts/" + contract._id)= contract._id
            td= contract.DataInicioContrato
            td= contract.DataFimContrato
            td
              a(href="/institutions/" + contract.NIPCInstituicao)= contract.NomeInstituicao
            td= contract.AreasInvestigacao
    .btn.btn-primary(type="button", style="margin-top: 20px; margin-bottom: 20px;")
        a.btn-info(href="/") Back to Contracts
